anyio==3.4.0
asgiref==3.4.1
bcrypt==3.2.0
cffi==1.15.0
click==8.0.3
correlation==1.0.0
cryptography==36.0.1
ecdsa==0.17.0
fastapi==0.70.1
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
h11==0.12.0
httptools==0.3.0
idna==3.3
importlib-metadata==4.10.0
itsdangerous==2.0.1
Jinja2==3.0.3
jsonstruct==0.2a1
MarkupSafe==2.0.1
numpy==1.21.5
passlib==1.7.4
psycopg2==2.9.3
pyasn1==0.4.8
pycparser==2.21
pydantic==1.9.0
python-dotenv==0.19.2
python-jose==3.3.0
PyYAML==6.0
rsa==4.8
scipy==1.7.3
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.29
starlette==0.16.0
typing_extensions==4.0.1
uvicorn==0.16.0
uvloop==0.16.0
watchgod==0.7
websockets==10.1
Werkzeug==2.0.2
zipp==3.7.0
